.contain {
  width: 100%;
  min-width: 20rem;
  height: auto;
  background-color: white;
  overflow: hidden;
  text-align: center;
}
.font_sec {
  h2 {
    color: #1f222c;
    font-size: 2.5714285714em;
    letter-spacing: 0.05em;
    line-height: 1.2;
    margin: 0 0 0.4em;
    text-transform: lowercase;
    @media screen and (max-width: 450px) {
    }
  }
  p {
    font-size: 1.2142857143em;
    letter-spacing: 0.05em;
    line-height: 1.5;
    margin: 1em 0;
  }
}

.feature_wrapper {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-box-pack: justify;
  align-items: stretch;
  align-content: stretch;
  justify-content: space-between;
  margin-bottom: 4em;
  overflow: hidden;

  .feature {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 20%;
    flex: 0 1 20%;
    text-align: center;

  }
}
.dots_container {
  display: none;
}
.dot {
  background: transparent;
  border: 1px solid #1f222c;
  border-radius: 50%;
  display: block;
  height: 0.75em;
  margin: 0 0.4em em;
  padding: 0;
  width: 0.75em;
}

@media (max-width: 930px) {

}
@media (max-width: 576px) {
  .feature_wrapper{
    flex-wrap: nowrap;
    // overflow-x: scroll;
  }
  .dots_container {
    display: block;
  }
}
