@mixin buboicon-common-styles {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-box-pack: center;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

@mixin buboleft-common-styles {
  -webkit-box-flex: 0; //共通
  border-right: 1px solid #fff;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  height: 100%;
}
@mixin buboright-common-styles {
  -webkit-box-flex: 0;
  border-left: 1px solid #fff;
  border-right: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  height: 100%;
}
.contain {
  margin: 0;
  padding: 0;
  background-color:#f5f5f5;
  overflow: hidden;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

.childTitle {
  line-height: 1.5;
  color: #1f222c;
  font-size: 1.1285714286em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.Title > h2 {
  text-transform: lowercase;
  color: #1f222c;
  margin-bottom: 1em;
  font-size: 2.5714285714em;
  letter-spacing: 0.05em;
  line-height: 1.2;
  margin: 0 0 0.4em;
}

.pictures {
  width: 13%;
  height: auto;
  transform: rotate(-30deg);
}

.imges {
  height: auto;
  max-width: 115%;
  width: 115%;
}

.theme {
  width: 100%;
  max-height: 30em;
  min-height: 10em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 10em;
}

.topsec {
  position: relative;
  z-index: 3;
  max-width: 100%;
  width: 100rem;
  height: 60%;
  bottom: 150%;
}

.buboicon1 {
  @include buboicon-common-styles;
  left: 70em;
  bottom: 29.5em;
  width: 3em;
  height: 3em;
}

.bubo1_left {
  @include buboleft-common-styles;
  background: #1f222c;
}

.bubo1_right {
  @include buboright-common-styles;
  // border-right: 1px solid #fff;
  background: #cf514f;
}

.buboicon2 {
  @include buboicon-common-styles;
  left: 19em;
  bottom: 20em;
  width: 1.6em;
  height: 1.6em;
}

.bubo2_left {
  @include buboleft-common-styles;
  background: #bce3e9;
}

.bubo2_right {
  @include buboright-common-styles;
  background: #e9725a;
}

.buboicon3 {
  @include buboicon-common-styles;
  left: 60em;
  bottom: 15em;
  width: 2em;
  height: 2em;
}

.bubo3_left {
  @include buboleft-common-styles;
  background: #6467aa;
}

.bubo3_right {
  @include buboright-common-styles;
  background: #76c1b2;
}

.buboicon4 {
  @include buboicon-common-styles;
  left: 5em;
  bottom: 27em;
  width: 2.5em;
  height: 2.5em;
}

.bubo4_left {
  @include buboleft-common-styles;
  background: #ff9d22;
}

.bubo4_right {
  @include buboright-common-styles;
  background: #ff611a;
}

.buboicon5 {
  @include buboicon-common-styles;
  left: -1.4em;
  bottom: 7em;
  width: 3.1em;
  height: 3.1em;
}

.bubo5_left {
  @include buboleft-common-styles;
  background: #ff0080;
}

.bubo5_right {
  @include buboright-common-styles;
  background: #432f70;
}

.buboicon6 {
  @include buboicon-common-styles;
  left: 74em;
  bottom: 4em;
  width: 3em;
  height: 3em;
}

.bubo6_left {
  @include buboleft-common-styles;
  background: #fff2e7;
}

.bubo6_right {
  @include buboright-common-styles;
  background: #207465;
}

@media (max-width: 576px) {
  /* 在螢幕寬度小於 576px 時的寬度 */
  .theme {
    top: 2em;
    right: 6em;
    width: 40em;
  }
  .Title > h2 {
    font-size: 1.8em;
  }
  .childTitle > h3 {
    font-size: .9em;
    letter-spacing: .2em;
    line-height: 1.5;
  }
}
@media (min-width: 577px) and (max-width: 992px) {
  /* 在螢幕寬度介於 577px 到 992px 之間時的寬度 */
}
