/* CSS 放置風格為由外到內&&上到下 */
.body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(to right, #20242e, #464c60);
}

.context {
  display: flex;
  flex-flow: row wrap;
  margin-top: 4.5em;
}

.maincontent {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: baseline;
  flex: 4 1;
  margin-left: 3.5em;
  padding-left: 1em;
  margin-top: 4em;
  max-width: 700px;
}

.maincontent > h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-overflow: ellipsis;
  font-size: 3.2142857143rem;
  line-height: 1.2;
  margin: 0 0 -0.6em;
  letter-spacing: 0.05em;
  text-align: start;
  color: white;
}

.maincontent > p {
  font-size: 1.2142857143rem;
  text-overflow: ellipsis;
  line-height: 1.5;
  margin: 3em 0;
  letter-spacing: 0.05em;
  text-align: start;
  color: white;
}

.maincontent > p > a {
  color: darkkhaki;
  text-decoration: underline;
}

.imges {
  position: relative;
  display: flex;
  flex: 10 1;
}
.imgescontain {
  width: 100%;
  height: auto;
}
.Noteframe {
  width: 100%;
  height: auto;
  position: relative;
}
.Note {
  max-width: 100%;
  height: 30em;
  max-height: 40em;
  background: url("../../../public/images/hero_desktop_frame.svg") 0 0 no-repeat;
  background-size: contain;
  display: flex;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.Nopadcontain{
  max-width: 100%;
}
.Nopadcontain > img {
  max-width: 100%;
  height: auto;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.mobileframe {
  position: absolute;
  top: 7em;
  left: 55em;
}
.mobile {
  background: url("../../../public/images/hero_mobile_frame.svg") 0 0 no-repeat;
  background-size: contain;
  overflow: hidden;
  position: absolute;
  width: 14.3em;
  height: 30em;
  z-index: 4;
}

.mobilepicture {
  display: block;
  position: absolute;
  z-index: 3;
  width: 13.6em;
  top: 0.4em;
  left: 0.42em;
  height: 29.3em;
  border-radius: 12px;
}
.middle {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15rem;
}

/* 小型裝置 */
@media screen and (max-width: 450px) {
  .context {
    flex-direction: column-reverse;
    margin-top: 0;
    justify-content: flex-start;
    height: 45em;
  }

  .maincontent {
    margin-top: 1em;
    margin-left: 1em;
    justify-content: flex-start;
    align-items: center;
  }
  .maincontent > h1 {
    font-size: 2.1428571429em;
    text-align: center;
    line-height: 1;
    letter-spacing: 0.02em;
  }
  .maincontent > p {
    margin-bottom: 2.5em;
    margin-top: 2em;
  }
  .middle {
    margin-top: 0;
  }
  .imges {
    flex: 0 1;
    padding-top: 15px;
  }

  .Note {
    left: 2.2em;
  }

  .mobileframe {
    width: 100%;
    height: auto;
    top: 3em;
    left: 17em;
  }
  .mobile {
    width: 22%;
    height: 9em;
    left: 0.2em;

  }
  .mobilepicture{
    width: 17.5%;
    height: auto;
    border-radius: 5px;
    top: 0.3em;
  }
}
