.layout {
    display: flex;
    justify-content: space-between;
}

.Nav-Title {
    font-size: 35px;
    margin-left: 5vh;
    margin-top: 2vh;
    color: white;
    font-weight: 900;
    font-family: monospace;
}

.Navright {
    width: 17em;
    display: flex;
    justify-content: space-around;
}

.Nav-font {
    font: .875em;
    color: white;

}

.hanbuger {
    background-color: #464c60;
    border: 0;
    padding: 0;
    height: 24px;
}